.App {
  text-align: center;
  background-color: #EAE7DC;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-bar {
  border-style: solid;
  text-align: right;
}

.nav-bar a {
  color: #e98074;
}

.convert-main{
  color:  #E98074; 
  border-style: solid;
  box-shadow: 5px 5px;
  margin-bottom: 2%;
}

.result{
  color: #E85A4f;
}

.historical-info{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-style: solid;
  color: #E98074;
  box-shadow: 5px 5px;
  overflow: auto;
}

.radio-form{
  display: flex;
  justify-content: center;
  height: 12vh;
  color: #8e8d8a;
  margin-top: 1%;
}

.shared-countries {
  list-style-type: none;
  color: #e98074;
  height: 30vh;
  /* overflow: auto; */
}

.shared-countries-list{
  overflow: auto;
}

.all-countries{
  overflow: auto;
}